Repository recovery-alt/view: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,vue}": "eslint --fix",
  "*.{css,html,less,json,md}": "prettier -w"
}

chore: 升级依赖
  packages/client/package.json
  packages/client/src/utils/style.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

fix: 更新私钥引入方式
  packages/server/src/utils/index.ts
  scripts/dev.mjs
Due: eslint --fix

feat: 更新ant-design-vue4
  package.json
  packages/client/package.json
  packages/client/src/app.vue
  packages/client/src/assets/style/index.less
  packages/client/src/assets/style/rewrite.less
  packages/client/src/components/board/board.vue
  packages/client/src/components/board/menu.vue
  packages/client/src/components/board/preview.vue
  packages/client/src/components/board/ruler.vue
  packages/client/src/components/board/shape.vue
  packages/client/src/components/code-mirror/code-mirror.vue
  packages/client/src/components/component-panel/component-panel.vue
  packages/client/src/components/layer-panel/layer-panel.vue
  packages/client/src/components/right-panel/animate-panel.vue
  packages/client/src/components/right-panel/data-panel/data-panel.vue
  packages/client/src/components/right-panel/page-config.vue
  packages/client/src/components/right-panel/right-panel.vue
  packages/client/src/config/index.ts
  packages/client/src/main.ts
  packages/client/src/store/theme.ts
  packages/client/src/views/editor/editor.vue
  packages/client/src/views/layout/exit-dropdown.vue
  packages/client/src/views/layout/layout.vue
  packages/client/src/views/login/login.vue
  packages/client/vite.config.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

feat: 优化样式
  packages/client/src/app.vue
  packages/client/src/components/board/board.vue
  packages/client/src/components/board/ruler.vue
  packages/client/src/components/right-panel/animate-panel.vue
  packages/client/src/components/right-panel/data-panel/data-panel.vue
  packages/client/src/views/layout/exit-dropdown.vue
Due: eslint --fix

style: 删除冗余代码
  packages/client/build/index.ts
  packages/client/build/theme.ts
  packages/client/build/themeConfig.ts
  packages/client/package.json
  packages/client/src/app.vue
  packages/client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

chore: 更新依赖
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier -w

feat: 升级prettier
  .eslintrc
  package.json
  packages/client/package.json
  packages/client/src/components/code-mirror/code-mirror.vue
  packages/client/src/components/right-panel/data-panel/hook.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/prettier.ts
  packages/client/src/utils/storage.ts
  packages/client/vite.config.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

style: 修改glob写法
  packages/client/package.json
  packages/client/src/gallery/basic/index.ts
  packages/client/src/gallery/chart/index.ts
  packages/client/src/gallery/index.ts
  packages/client/src/share/app.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier -w
